# Plugin Name
name=IPTelepathyPlugin

# Image File
dll=libIPTelepathyPlugin

# Version of plugin
version=0

#Nombre a nostrar del plugin
displayName=Telepathy framework Plugin

# Define Plugins name dependencies "addDependency"
#addDependency=IPTestPluginDep

# Eventos a los que se subscribe "addInEvent"

# Eventos que Emite "addOutEvent"

# Opciones del plugin "[Options]" se almacenan en el PluginInfo

# Opciones de otro Plugin a sobreescribir al cargarse "[PluginName]"