Source: libp4h-plugin-iptelepathy
Priority: extra
Maintainer: Miguel Angel Alcalde Velado <miguel.wasabi@gmail.com>
Build-Depends: debhelper (>= 7.0.50~), cmake
Standards-Version: 3.9.1
Section: libs
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://git.debian.org/collab-maint/libp4h-plugin-iptelepathy.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/libp4h-plugin-iptelepathy.git;a=summary

Package: libp4h-plugin-iptelepathy-dev
Section: libdevel
Architecture: any
Depends: libp4h-plugin-iptelepathy (= ${binary:Version})
Conflicts: libp4h-plugin-iptelepathy-dev
Replaces: libp4h-plugin-iptelepathy-dev
Description: P4H telepathy plugin (development files)
 Integration of framework telepathy in P4H platform

Package: libp4h-plugin-iptelepathy
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Conflicts: libp4h-plugin-iptelepathy
Replaces: libp4h-plugin-iptelepathy
Description: P4H telepathy plugin
 Integration of framework telepathy in P4H platform
